<html>
    <head>
    <link rel="stylesheet" href="/css/group.css">
    
    </head>
<body>
    
<div class="col-md-9">
                
    <div class="col-sm-5 col-md-6 message_section">
                        <div class="row">
                            <div class="new_message_head">
                                <div class="pull-left">
                                <button class="club_name">
                                  POSTS
                                </button>
                                </div>
                                <div class="pull-right">
                                </div>
                            </div>

                            <div id="chat_area" class="chat_area">
                              <ul id="messages" class = "list-unstyled">
                                  {{#each feed}}
                                  <li class="left">
                                       <span class="chat-img1 pull-left">
                                           <img src="" class="img-circle" alt="">
                                       </span>
                                       <div class="chat-body1">
                                           <span class="chat-name">{{this.sender}}</span>
                                           <br>
                                           {{#if this.message}}
                                                {{this.message}}
                                                {{else}}
                                                <img src="../uploads/{{this.image}}" width="100px" height="100px">
                                           {{/if}}
                                          
                                       </div>
                                    </li>
                                  <a href="/home/{{this._id}}">Comments</a>
                                  {{/each}}
                                </ul>
                                
                            </div>
                            
                            <div class="message_write"><div>
                    {{#each resl}}
                    <div class="category-list">
                        <div class="row ">
                            <form action="#" method="post" id="add-fav">
                                <div class="item col-md-4">
                                    <a href="/group/{{this.name}}">
                                    <div class="thumbnail">
                                       <img alt="">
                                        <div class="caption">
                                            <h4>{{this.name}}</h4> 
                                            <div class="row">
                                                <div class="col-xs-12 col-md-6">

                                                    <p>
                                                        {{this.positioninclub}}
                                                    </p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                        </a>
                                </div>
                            </form>
                        </div>
                    </div>
                    {{/each}}
    </div>
                              <form  id="message-form" method="post">
                                  <input type="hidden" id="groupName" value="{{groupName}}">
                                  <input type="hidden" name ="sender" id="sender" value="{{user.username}}">
                                  <textarea class="form-control" name="message" id="msg" placeholder="Type a message"></textarea>
                                  <div class="btn grey">
                                      <a href="/home/{{user.username}}/fileupload">File Upload</a>
                                    </div>
                                  <div class="clearfix"></div>
                                  <div class="chat_bottom">
                                      <button id="send-message" class="pull-right btn btn-primary" style="background: #4aa1f3; border: #4aa1f3; ">
                                          POST
                                      </button>
                                  </div>
                              </form>
                            </div>
                        </div>
                    </div>
</div>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </body>
</html>